## Exercises

The end result of this exercise should be a Jupyter notebook named `model`.

Using [saas.csv](https://ds.codeup.com/saas.csv) or log data from API usage or store_item_sales

1. Split data (train/test) and resample by any period, except daily, and aggregate using the sum. 
2. Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
    - Simple Average
    - Moving Average
    - Holt's Linear Trend Model
    - Based on previous year/month/etc., this is up to you.

Optional: Using store item demand

1. Predict 2018 total **monthly** sales for a single store and/or item by creating a model using prophet.
2. Return a dataframe with the month, store_id, y-hat, and the confidence intervals (y-hat lower, y-hat upper).
3. Plot the 2018 monthly sales predictions.

In [1]:
# for presentation purposes
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# wrangle
import wrangle_TSA as w

# working with dates
from datetime import datetime

# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 

# for tsa 
import statsmodels.api as sm

# holt's linear trend model. 
from statsmodels.tsa.api import Holt, ExponentialSmoothing

In [2]:
df = w.wrangle_saas_data()
#df = w.prep_store_data(df)
#df = w.adding_columns_store(df)
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 790458 entries, 2014-01-31 to 2017-12-31
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Customer_Id        790458 non-null  int64
 1   Invoice_Id         790458 non-null  int64
 2   Subscription_Type  790458 non-null  float64
 3   Amount             790458 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 46.3 MB

In [7]:
df.tail()

                Customer_Id  Invoice_Id  Subscription_Type  Amount
Month_Invoiced
2017-12-31          1029395     5790453                0.0     0.0
2017-12-31          1029396     5790454                0.0     0.0
2017-12-31          1029397     5790455                3.0    15.0
2017-12-31          1029398     5790456                0.0     0.0
2017-12-31          1029399     5790457                0.0     0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month_Invoiced     790458 non-null  object
 1   Customer_Id        790458 non-null  int64
 2   Invoice_Id         790458 non-null  int64
 3   Subscription_Type  790458 non-null  float64
 4   Amount             790458 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 30.2+ MB

In [4]:
df.Month_Invoiced = pd.to_datetime(df.Month_Invoiced, infer_datetime_format=True)
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [5]:
#Sort rows by the date and then set the index as that date
df = df.set_index("Month_Invoiced").sort_index()
df.head()

                Customer_Id  Invoice_Id  Subscription_Type  Amount
Month_Invoiced
2014-01-31          1000000     5000000                0.0     0.0
2014-01-31          1000001     5000001                2.0    10.0
2014-01-31          1000002     5000002                0.0     0.0
2014-01-31          1000003     5000003                0.0     0.0
2014-01-31          1000004     5000004                1.0     5.0

1. Split data (train/test) and resample by any period, except daily, and aggregate using the sum.

In [6]:
df_resampled = df.resample('M')[['Amount']].sum()
df_resampled.head()

                 Amount
Month_Invoiced
2014-01-31      35850.0
2014-02-28      37190.0
2014-03-31      38295.0
2014-04-30      39255.0
2014-05-31      40355.0

In [11]:
train = df_resampled[:'2016']
test = df_resampled['2017']

2. Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
    - Simple Average
    - Moving Average
    - Holt's Linear Trend Model
    - Based on previous year/month/etc., this is up to you.

In [16]:
#Simple Average
avg_sales = train['Amount'].mean()
avg_sales

47916.666666666664

In [27]:
#Moving Average
period=1
mov_avg = train['Amount'].rolling(period).mean()[-1]
mov_avg

53320.0

In [29]:
def evaluate(target_var):
    '''
    This function will take the actual values of the target_var from validate, 
    and the predicted values stored in yhat_df, 
    and compute the rmse, rounding to 0 decimal places. 
    it will return the rmse. 
    '''
    rmse = round(sqrt(mean_squared_error(train[target_var], yhat_df[target_var])), 0)
    return rmse

In [17]:
def plot_and_eval(target_var):
    '''
    This function takes in the target var name (string), and returns a plot
    of the values of train for that variable, validate, and the predicted values from yhat_df. 
    it will als lable the rmse. 
    '''
    plt.figure(figsize = (12,4))
    plt.plot(train[target_var], label='Train', linewidth=1)
   
    plt.plot(yhat_df[target_var])
    plt.title(target_var)
    rmse = evaluate(target_var)
    print(target_var, '-- RMSE: {:.0f}'.format(rmse))
    plt.show()

In [19]:
# create an empty dataframe
eval_df = pd.DataFrame(columns=['model_type', 'target_var', 'rmse'])
eval_df

Empty DataFrame
Columns: [model_type, target_var, rmse]
Index: []

In [20]:
# function to store the rmse so that we can compare
def append_eval_df(model_type, target_var):
    '''
    this function takes in as arguments the type of model run, and the name of the target variable. 
    It returns the eval_df with the rmse appended to it for that model and target_var. 
    '''
    rmse = evaluate(target_var)
    d = {'model_type': [model_type], 'target_var': [target_var],
        'rmse': [rmse]}
    d = pd.DataFrame(d)
    return eval_df.append(d, ignore_index = True)

In [22]:
yhat_df = pd.DataFrame(
    {'simple_avg': [avg_sales],
     'moving_avg': [mov_avg]},
    index=train.index)

yhat_df.head()

                  simple_avg  moving_avg
Month_Invoiced
2014-01-31      47916.666667     53320.0
2014-02-28      47916.666667     53320.0
2014-03-31      47916.666667     53320.0
2014-04-30      47916.666667     53320.0
2014-05-31      47916.666667     53320.0